Repository KubeRocketCI/terraform-aws-platform: changes, and which Atlantis projects are due for each by the changed paths.
All: s3-backend, iam, vpc, eks

s3-backend:
  dir: s3-backend
  terraform_version: 1.5.4
  workflow: infra
  execution_order_group: 1
  workspace: default

iam:
  dir: iam
  terraform_version: 1.5.4
  workflow: infra
  execution_order_group: 2
  workspace: default
  depends_on:
  - s3-backend

vpc:
  dir: vpc
  terraform_version: 1.5.4
  workflow: infra
  execution_order_group: 3
  workspace: default
  depends_on:
  - iam

eks:
  dir: eks
  terraform_version: 1.5.4
  workflow: infra
  execution_order_group: 4
  workspace: default
  depends_on:
  - vpc

feat: Add Atlantis configuration
  .pre-commit-config.yaml
  atlantis.yaml
Due: none

chore: Rename providers.tf to versions.tf
  argo-cd/versions.tf
  eks/versions.tf
  iam/versions.tf
  s3-backend/versions.tf
  vpc/versions.tf
Due: s3-backend, iam, vpc, eks

[EPMDEDP-14639]: chore: Add Kaniko role and policy creation
  eks/main.tf
  eks/template.tfvars
  eks/variables.tf
Due: eks

[EPMDEDP-14639]: chore: Add variable to control Kaniko IAM role creation
  eks/main.tf
  eks/template.tfvars
  eks/variables.tf
Due: eks

[EPMDEDP-14608]: chore: Align terraform to the latest changes
  argo-cd/main.tf
  eks/main.tf
  eks/variables.tf
Due: eks

[EPMDEDP-14574]: feat: Add Karpenter IAM template
  eks/data.tf
  eks/irsa.tf
  eks/main.tf
  eks/variables.tf
Due: eks

[EPMDEDP-15023]: chore: Update SSL security policy ALB https listeners
  eks/variables.tf
Due: eks

[EPMDEDP-14574]: fix: Add aws auth role for karpenter
  eks/example.tfvars
Due: none

[EPMDEDP-15232]: chore: Migrate Karpenter resources creation to Karpenter module
  eks/data.tf
  eks/irsa.tf
  eks/main.tf
  eks/variables.tf
  vpc/main.tf
Due: vpc, eks

[EPMDEDP-15232]: chore: Align Karpenter IAM
  eks/main.tf
Due: eks

[EPMDEDP-15270]: chore: Add Atlantis IAM Role
  eks/versions.tf
  iam/data.tf
  iam/main.tf
  iam/outputs.tf
  iam/template.tfvars
  iam/variables.tf
Due: iam, eks

[EPMDEDP-15270]: chore: Update Backend S3 configuration
  argo-cd/versions.tf
  iam/main.tf
  iam/template.tfvars
  vpc/versions.tf
Due: iam, vpc

[EPMDEDP-15274]: chore: Automate IRSA role setup for remote EKS deployments
  eks/irsa.tf
  eks/template.tfvars
  eks/variables.tf
Due: eks

[EPMDEDP-15421]: chore: Move Atlantis IAM Role creation to eks directory
  eks/irsa.tf
  eks/template.tfvars
  eks/variables.tf
  iam/data.tf
  iam/main.tf
  iam/outputs.tf
  iam/template.tfvars
  iam/variables.tf
Due: iam, eks

[EPMDEDP-15349]: chore: Add IRSA roles for Argo CD and CD Pipeline Operator
  eks/irsa.tf
  eks/template.tfvars
  eks/variables.tf
Due: eks

[EPMDEDP-15392]: chore: Migrate to AL2023 instance type
  eks/example.tfvars
  eks/main.tf
  eks/template.tfvars
Due: eks

[EPMDEDP-15392]: chore: Add baseline cost estimation based on the code
  README.md
Due: none

[EPMDEDP-15392]: chore: Clarify ALB price
  README.md
Due: none

[EPMDEDP-15526]: chore: Align terraform code, versions, and structure
  eks/.terraform-version
  eks/acm.tf
  eks/alb.tf
  eks/atlantis.tf
  eks/data.tf
  eks/example.tfvars
  eks/irsa.tf
  eks/main.tf
  eks/providers.tf
  eks/schedulers.tf
  eks/template.tfvars
  eks/variables.tf
  eks/versions.tf
  iam/.terraform-version
  iam/main.tf
  iam/versions.tf
  s3-backend/.terraform-version
  s3-backend/versions.tf
  vpc/.terraform-version
  vpc/main.tf
  vpc/versions.tf
Due: s3-backend, iam, vpc, eks

[EPMDEDP-15720]: chore: Setup KubeRocketAI DevOps Agent
  .cursor/rules/krci-ai/devops.mdc
  .github/chatmodes/devops.chatmode.md
  .krci-ai/agents/devops.yaml
  .krci-ai/data/repository-overview.md
  .krci-ai/data/repository-structure.md
  .krci-ai/data/terraform-best-practices.md
  .krci-ai/tasks/chat.md
  .krci-ai/tasks/validate-terraform.md
  README.md
  argo-cd/.terraform-version
  argo-cd/versions.tf
  atlantis.yaml
Due: none

Path conditions:
  s3-backend: any of: s3-backend/*.tf, s3-backend/terraform.tfvars
  iam: any of: iam/*.tf, iam/terraform.tfvars
  vpc: any of: vpc/*.tf, vpc/terraform.tfvars
  eks: any of: eks/*.tf, eks/terraform.tfvars
