Repository KubeRocketCI/terraform-aws-platform: changes, and which Atlantis projects are due for each by the changed paths.
All: s3-backend, iam, vpc, eks

s3-backend:
  dir: s3-backend
  terraform_version: 1.5.4
  workflow: infra
  execution_order_group: 1
  workspace: default

iam:
  dir: iam
  terraform_version: 1.5.4
  workflow: infra
  execution_order_group: 2
  workspace: default
  depends_on:
  - s3-backend

vpc:
  dir: vpc
  terraform_version: 1.5.4
  workflow: infra
  execution_order_group: 3
  workspace: default
  depends_on:
  - iam

eks:
  dir: eks
  terraform_version: 1.5.4
  workflow: infra
  execution_order_group: 4
  workspace: default
  depends_on:
  - vpc

[EPMDEDP-15661]: chore: Update Karpenter role name
  eks/irsa.tf
  eks/main.tf
Due: eks

[EPMDEDP-15879]: chore: Align Velero IAM
  eks/irsa.tf
  eks/template.tfvars
  eks/variables.tf
Due: eks

[EPMDEDP-15879]: chore: Align Velero IAM
  eks/irsa.tf
Due: eks

[EPMDEDP-16096]: chore: Update EKS to 1.34
  eks/irsa.tf
  eks/main.tf
  eks/variables.tf
  eks/versions.tf
Due: eks

EPMDEDP-16521: chore: validate commit title length and format
  .github/workflows/pr-validation.yml
  README.md
Due: none

EPMDEDP-16521: chore: remove PR title length validation
  .github/workflows/pr-validation.yml
Due: none

EPMDEDP-16736: chore: Update EBS CSI Driver IAM policy to AmazonEBSCSIDriverPolicyV2
  eks/irsa.tf
Due: eks

EPMDEDP-17136: feat: support Envoy Gateway routing on the ingress ALB
  eks/alb.tf
  eks/example.tfvars
  eks/main.tf
  eks/template.tfvars
  eks/variables.tf
Due: eks

EPMDEDP-17136: feat: add Envoy Gateway default-action toggle for the ingress ALB
  eks/alb.tf
  eks/example.tfvars
  eks/main.tf
  eks/template.tfvars
  eks/variables.tf
Due: eks

EPMDEDP-17355: chore: Update Karpenter module to 21.20.0 for Karpenter 1.14
  eks/irsa.tf
Due: eks

EPMDEDP-17344: feat: Add variables to narrow IAM role trust and scope
  argo-cd/example.tfvars
  argo-cd/main.tf
  argo-cd/variables.tf
  docs/KRCIDeployerRole.md
  eks/example.tfvars
  eks/irsa.tf
  eks/template.tfvars
  eks/variables.tf
  iam/data.tf
  iam/template.tfvars
  iam/variables.tf
Due: iam, eks

Path conditions:
  s3-backend: any of: s3-backend/*.tf, s3-backend/terraform.tfvars
  iam: any of: iam/*.tf, iam/terraform.tfvars
  vpc: any of: vpc/*.tf, vpc/terraform.tfvars
  eks: any of: eks/*.tf, eks/terraform.tfvars
